.Youtube__Navbar {
  position: sticky;
  top: 0;
  padding: 0 1.2em;
  height: 56px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Youtube__Navbar--brand {
  color: black;
}

.Youtube__Navbar--brand .Youtube__Navbar--logo {
  margin-left: 1.2em;
}

.Youtube__Navbar__SearchBar {
  width: 100%;
  max-width: 589px;
}

.Youtube__Navbar__IconGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Youtube__Navbar__IconGroup i {
  margin-right: 1em;
  margin-left: 0.5em;
  cursor: pointer;
}
